<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=3a5d7d20-3d59-4172-a1db-89f9096b16d7&lang=ru_RU" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

  <div id="map" style="width: 100vw; height: 100vh;"></div>
  
</body>
</html>
