<li class="reviews-list__item review-item">
    <div class="review-item__header">
        <h5 class="review-item__username">{{ username }}</h5>
        <span>{{ location }}</span>
    </div>
    <p class="review-item__text">{{ text }}</p>
</li>